//gear cards

.introProducts {
  .bredgrep {
    color: $green;
  }
}
.card {
  border: 2px solid $green;
  h5 {
    color: $green;
  }
  .gearTag {
    background-color: $rose;
    color: white;
    margin: 2px;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .test {
    flex: 0 0 auto;
    margin: 12px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.toolsForm {
  h2 {
    color: $green;
  }
}
