//gear cards

.introProducts {
  .bredgrep {
    color: $green;
    font-weight: 300;
  }
  .orderButton {
    margin-top: $m;
  }
}
.gearCartContainer {
  h2 {
    color: $green;
  }
  h5 {
    color: $green;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .gearCart {
    border: 2px solid $green;
    flex: 0 0 auto;
    margin: 12px;
    .gearTag {
      background-color: $rose;
      color: white;
      margin: 2px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.toolsForm {
  h2 {
    color: $green;
  }
}
