// hero section
.hero {
  height: 50vh;
  img {
    width: 100%;
  }
  .col-12 {
    padding: 0;
  }
}

#start {
  width: 100vw;
  height: 92vh;
  display: flex;
  background-color: darken(white, 70%);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  flex-direction: column;
  justify-content: center;

  p  {
    color: white !important;
  }
}

// welcome section

.welcome {
  text-align: center;
  padding: $l $m;

  p {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 7rem;
    color: $green;
  }
}

.welcome__certificates {
  display: flex;
  justify-content: center;
  margin-top: $l;
}

// news section

.latest-news-wrapper {
  width: 100vw;
  padding: $l 0;
  background: $rose;
}

.latest-news {
  h2 {
    font-size: $l;
    color: white;
  }
}

.latest-post {
  border: none;
}

.card {
  margin: $s 0;

  .card-title {
    font-weight: 700;
    text-transform: capitalize;
  }

  img {
    width: 100%;
  }

  a {
    color: $green;
  }
}

@media (min-width: $bp-lg) {
  #start {
    h1 {
      font-size: 8rem;
      // color: $rose;
    }
    p {
      font-size: $m;
    }
  }
}
