// hero section
.hero {
  height: 50vh;
  img {
    width: 100%;
  }
  .col-12 {
    padding: 0;
  }
}

#start {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: lighten(black, 20%);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  flex-direction: column;
  justify-content: center;

  p  {
    color: white !important;
  }
}

.intro__text {
  margin: $l 0;
  text-align: center;

  h2 {
    color: $green;
    font-size: 5rem;
  }

  #bredgrep__link {
    color: $green;
    font-weight: 700;
  }
  
}

// welcome section

.welcome {
  text-align: center;
  padding: $l $m;

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 9rem;
    color: $rose;
  }

  h2 {
    font-weight: 300;
    font-family: 'Lato';
    color: white;
    font-size: 2rem;
  }
}

.welcome__certificates {
  text-align: center;
  margin-top: $l;
  color: white;
  font-size: 3rem;
}

// news section

.latest-news-wrapper {
  width: 100vw;
  padding: $l 0;
  background: $rose;
}

.latest-news {
  h2 {
    font-size: $l;
    color: white;
  }
}

.latest-post {
  border: none;
}

.card {
  margin: $s 0;

  .card-title {
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Lato';
  }

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: $green;
  }
}

.ajax-load-more-wrap.green .alm-load-more-btn {
  background-color: $green;
}

@media (min-width: $bp-lg) {
  #start {
    h1 {
      font-size: 15rem;
    }

    h2 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
