.nyheter__title {
    padding: $l 0;

    h1 {
        color: $green;
    }

    h2 {
        color: $rose;
    }
}

.ajax__wrapper {
    display: block;
    margin: auto 0;
    padding: $s !important;
}

.shitfuck {
    // width: 45%;
    // margin: 0 2.5% 2.5% 0;
    display: inline-block;
}

.card-image-top {
    height: 200px !important;
    overflow: hidden !important;
}

@media screen and (min-width: $bp-md) {
    .shitfuck {
        width: 45%;
        margin: 0 2.5% 2.5% 0;
        display: inline-block;
    }

    .shitfuck:nth-child(2n) {
        margin-right: 0;
    }
}

