@import "./variables.scss";
@import "./index.scss";
@import "./footer.scss";
@import "./vegetables.scss";
@import "./gears.scss";
@import "./menu.scss";
@import "./markets.scss";
@import "./contact.scss";
@import "./about.scss";
@import "./single.scss";
@import "./errorpage.scss";

h1,
h2 {
  font-family: "Amatic SC";
  font-weight: 700;
  text-align: center;
}

p {
  font-family: "Lato";
  font-weight: 400;
}

// button
.btn-primary {
  background-color: $rose;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 300px;

  &:hover {
    border: none;
    background: $green;
  }
}
