@import "./variables.scss";
@import "./index.scss";
@import "./footer.scss";
@import "./vegetables.scss";

h1,
h2 {
  font-family: "Amatic SC";
  font-weight: 700;
  text-align: center;
}

p {
  font-family: "Lato";
  font-weight: 400;
}
