// fonts
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Lato:400,700,900');

// colors
$dark: #3D3D3D;
$green: #5B8F26;
$transparent-green: rgba(91, 143, 38, 0.1);
$light-green: #CFDBC6;
// $rose: #F89F8B;
$rose: #ED8548;

// sizes
$xs: .5rem;
$s: 1rem;
$m: 2rem;
$l: 3rem;

// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;