// intro section

.headache {
  margin: $l 0;
  text-align: center;

  h1 {
    font-size: 5rem;
    color: $green;
  }
}

.headache__certificates {
  display: flex;
  justify-content: center;

  img {
    padding: $xs;
  }
}
