// intro section

.headache {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 5rem;
    color: $green;
  }

  h3 {
    color: $rose;
  }
}

.headache__certificates {
  display: flex;
  justify-content: center;

  img {
    padding: $xs;
  }
}

.monthly-vegetable-wrapper {
  width: 100vw;
  padding: $l 0;
}

.monthly-vegetable {
  h2 {
    font-size: $l;
    color: $green;
  }
}

.card {
  margin: $s 0;
  max-width: 400px;

  .card-title {
    font-weight: 700;
    text-transform: capitalize;
  }
  .veggieCardHeader {
    background-color: none !important;
    border: 2px solid $green;
  }
  .veggieButton {
    font-size: $l;
    color: $dark;
    text-align: left !important;
    font-family: "Amatic SC";
    font-weight: 700;
  }
  .veggieButton:hover {
    color: $rose;
    text-decoration: none !important;
  }
  ul {
    margin-bottom: 16px;
  }
  li {
    border: 2px solid $green !important;
    background: $light-green;
    margin: 12px;
    border-radius: 5px;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
  }

  img {
    width: 100%;
  }
}
