@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700|Lato:400,700,900");
.hero img {
  width: 100%; }

.hero .col-12 {
  padding: 0; }

.welcome {
  margin: 3rem 0;
  text-align: center; }
  .welcome h1 {
    font-size: 5rem;
    color: #5B8F26; }

.welcome__certificates {
  display: flex;
  justify-content: center; }
  .welcome__certificates img {
    padding: 0.5rem; }

.latest-news-wrapper {
  width: 100vw;
  padding: 3rem 0;
  background: #F89F8B; }

.latest-news h2 {
  font-size: 3rem;
  color: white; }

.card {
  margin: 1rem 0; }
  .card .card-title {
    font-weight: 700;
    text-transform: capitalize; }
  .card img {
    width: 100%; }

footer {
  background: #CFDBC6; }

.footer__map {
  padding: 0; }

.footer__menu {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.headache {
  margin: 3rem 0;
  text-align: center; }
  .headache h1 {
    font-size: 5rem;
    color: #F89F8B; }

.headache__certificates {
  display: flex;
  justify-content: center; }
  .headache__certificates img {
    padding: 0.5rem; }

.monthly-vegetable-wrapper {
  width: 100vw;
  padding: 3rem 0; }

.monthly-vegetable h2 {
  font-size: 3rem;
  color: #5B8F26; }

.card {
  margin: 1rem 0; }
  .card .card-title {
    font-weight: 700;
    text-transform: capitalize; }
  .card .veggieCardHeader {
    background-color: none !important;
    border: 2px solid #5B8F26; }
  .card .veggieButton {
    font-size: 3rem;
    color: #3D3D3D;
    text-align: left !important;
    font-family: "Amatic SC";
    font-weight: 700; }
  .card .veggieButton:hover {
    color: #F89F8B;
    text-decoration: none !important; }
  .card .veggiebg {
    border: 2px solid #5B8F26 !important;
    background: #CFDBC6;
    margin: 12px; }
  .card img {
    width: 100%; }

.card {
  border: 2px solid #5B8F26; }
  .card h5 {
    color: #5B8F26; }
  .card .gearTag {
    background-color: #F89F8B;
    color: white;
    margin: 2px; }

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; }
  .scrolling-wrapper-flexbox .test {
    flex: 0 0 auto;
    margin: 12px; }
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none; }

.toolsForm h2 {
  color: #5B8F26; }

h1,
h2 {
  font-family: "Amatic SC";
  font-weight: 700;
  text-align: center; }

p {
  font-family: "Amaric SC";
  font-weight: 400; }
